@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Kalam:wght@700&family=Nabla&family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Ubuntu:ital,wght@1,700&display=swap');
body{
    margin:0;
    font-family: "NOTO Sans JP", san-serif;
}
:root{
    --blue:#0f73ee;
    --sky-blue: rgba(146,205,250);
    --lighter-blue:rgb(232,240,254);
    --lavender:rgba(215,215,255);
    --yellow:#fba707;
    --orange:#eb7d16;
    --white:#FFFFFF;
    --black:#000000;
    --gray:#666666;
    --lighter-gray:rgb(232, 232, 232);
    --latte:rgb(255, 248, 231);
}
a{
    text-decoration: none;
    color: var(--blue);
}
.loading{
    width: 100%;
    max-width: 700px;
    height: 650px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    color: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 1.5s steps(20) infinite;
}
@keyframes typing{
    from { width: 100%}
    to { width: 0%};
}