@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Kalam:wght@700&family=Nabla&family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Ubuntu:ital,wght@1,700&display=swap');
body{
    margin:0;
    font-family: "NOTO Sans JP", san-serif;
}
:root{
    --blue:#0f73ee;
    --sky-blue: rgba(146,205,250);
    --lighter-blue:rgb(232,240,254);
    --lavender:rgba(215,215,255);
    --yellow:#fba707;
    --orange:#eb7d16;
    --white:#FFFFFF;
    --black:#000000;
    --gray:#666666;
    --lighter-gray:rgb(232, 232, 232);
    --fa-gray:#f0f0f0;
    --latte:rgb(255, 248, 231);
}
a{
    text-decoration: none;
}
.navContainer{
    width: 100%;
    display: flex;
    z-index: 1000;
    justify-content: end;
    position: fixed;
    top: 0;
    left: 0;
}
.navItem{
    margin: 20px 80px 0 0;
    font-size: 14px;
    color: var(--gray);
    cursor: pointer;
}
.navItem a{
    color: var(--gray);
}
.navItem a:hover{
    font-weight: bold;
    color: var(--blue);
}
.textContainer{
    width: 100%;
    height: 100vh;
}
.text{
    width: 70%;
    height: 300px;
    text-align: left;
    font-size: 16px;
    font-weight:bold;
    color: var(--gray);
    position: relative;
    top: 180px;
    left: 250px;
    z-index: 1;
}
.brand{
    color: var(--gray);
}
.brand:hover{
    color: var(--blue);
}
.hand:hover{
    transform: translateX(-3px);
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
}
.svgContainer{
    width: 1920px;
    position: absolute;
    top: -150px;
    left: 0;
    right: 0;
    bottom: 0;
}
@media screen and (max-width: 1920px) {
    .textContainer{
        max-width: 100%;
    }
    .svgContainer {
        max-width: 100%;
    }
}
@media screen and (max-width: 1200px) {
    .navItem{
        margin: 20px 40px 0 0;
    }
    .text{
        top: 200px;
        left: 100px;
        width: 80%;
    }
}
@media screen and (max-width: 900px) {
    .navItem{
        margin: 20px 30px 0 0;
    }
    .text{
        left: 80px;
        width: 80%;
    }
}
@media screen and (max-width: 767px) {
    .text{
        left: 60px;
        width: 80%;
    }
}
@media screen and (max-width: 560px) {
    .text{
        top: 200px;
        left: 45px;
    }
}
@media screen and (max-width: 560px) {
    .text{
        top: 150px;
    }
}