@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Kalam:wght@700&family=Nabla&family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Ubuntu:ital,wght@1,700&display=swap');
body{
    margin:0;
    font-family: "NOTO Sans JP", san-serif;
}
:root{
    --blue:#0f73ee;
    --sky-blue: rgba(146,205,250);
    --lighter-blue:rgb(232,240,254);
    --lavender:rgba(215,215,255);
    --yellow:#fba707;
    --orange:#eb7d16;
    --white:#FFFFFF;
    --black:#000000;
    --gray:#666666;
    --lighter-gray:rgb(232, 232, 232);
    --latte:rgb(255, 248, 231);
}
a{
    text-decoration: none;
}
.authCard{
    width: 500px;
    height: 300px;
    margin: auto;
    position: relative;
    top: 350px;
}
.stockBrain{
    font-size: 60px;
    text-align: center;
    font-family: "Carter One";
    color: var(--blue);
}
.welcomeText{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: var(--gray);
}
.content{
    font-size: 24px;
    text-align: center;
    color: var(--gray);
    margin-top: 10px;
    letter-spacing: 2px;
}
.authBox{
    width: 300px;
    height: 100px;
    margin: 20px auto 0 auto;
    display: flex;
    font-size: 36px;
    text-align: center;
    line-height: 80px;
    color: var(--white);
}
.loginBtn{
    width: 120px;
    height: 80px;
    background-color: var(--blue);
    margin: auto;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 6px -4px 2px var(--yellow);
}
.signUpBtn{
    width: 120px;
    height: 80px;
    margin: auto;
    background-color:var(--blue);
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 6px -4px 2px var(--yellow);
}
.loginBtn:hover{
    background-color:var(--sky-blue);
    font-weight: bold;
    transform: scale(1.03);
}
.signUpBtn:hover{
    background-color:var(--sky-blue);
    font-weight: bold;
    transform: scale(1.03);
}
