@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Kalam:wght@700&family=Nabla&family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Ubuntu:ital,wght@1,700&display=swap');
body{
    margin:0;
    font-family: "NOTO Sans JP", san-serif;
    background-color:white;
}
a{
    text-decoration: none;
}
:root{
    --blue:#0f73ee;
    --lighter-blue:rgba(146,205,250);
    --lavender:rgba(215,215,255);
    --yellow:#fba707;
    --orange:#eb7d16;
    --white:#FFFFFF;
    --black:#000000;
    --gray:#666666;
    --lighter-gray:rgb(232, 232, 232);
    --latte:rgb(255, 248, 231);
}
.header{
    width: 100%;
    max-width: 1920px;
    height: 54px;
    border-bottom: 1px solid var(--lighter-gray);
    position: fixed;
    top: 0;
    z-index: 50;
    background-color: var(--white);
    display: grid;
    grid-template-columns: 0.1fr 5.8fr 0.1fr;  
}
.header .headerContent{
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3366CC;
    grid-column: 2 / 3;
}
.theme{
    box-sizing: border-box;
    width: auto;
    height: 34px;
    font-family: "Carter One";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    color: var(--blue);
    cursor: pointer;
}
.navItem{
    display: flex;
    color: var(--gray);
    cursor: pointer;
}
.navItem:hover{
    transform: translateX(1.5px);
    transition: transform 0.5s;
}
.userHead{
    border: 1px solid var(--lighter-gray);
}
.popup{
    /*定位*/
    position: absolute;
    top: 55px;             
    bottom: 200;           
    left: 100;        
    right: 0;
    margin: auto;

    width: 130px;
    height: 105px;
    z-index: 1000;
    border-radius: 13px;
}
.popupContent{
    width: 120px;
    height: 82px;
    background-color: var(--white);
    margin: auto;
    border-radius: 5px;
    border: 1px solid var(--lighter-gray);
}
.popup-active{
    /*定位*/
    position: absolute;
    top: 55px;             
    bottom: 200;           
    left: 100;        
    right: 0;
    margin: auto;

    width: 130px;
    height: 105px;
    z-index: 1000;
    border-radius: 13px;

    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 0.5s ease;
}
.popup-inactive{
    /*定位*/
    position: absolute;
    top: 55px;             
    bottom: 200;           
    left: 100;        
    right: 0;
    margin: auto;

    width: 130px;
    height: 105px;
    z-index: 1000;
    border-radius: 13px;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: 0.5s ease;
}
.popupLink{
    width: 90%;
    height: 30px;
    margin-top: 5px;
    padding-top: 5px;
    padding-left: 12px;
    color: var(--gray);
    cursor: pointer;
    border-bottom: 1px solid var(--lighter-gray);
}
.popupLink:hover{
    font-weight: bolder;
    transform: scale(1.03);
}
@media screen and (max-width:1200px) and (min-width:600px){
    .header{
        width: 90%;
    }
    .headerContent{
        width: 90%;
    }
    .theme{
        margin-left: 10px;
    }
    .navItem{
        margin-right: 10px;
    }
}