@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Kalam:wght@700&family=Nabla&family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Ubuntu:ital,wght@1,700&display=swap');
body{
    margin:0;
    font-family: "NOTO Sans JP", san-serif;
    overflow-x: hidden;
}
:root{
    --blue:#0f73ee;
    --lighter-blue:rgb(232,240,254);
    --lavender:rgba(215,215,255);
    --yellow:#fba707;
    --orange:#eb7d16;
    --white:#FFFFFF;
    --black:#000000;
    --gray:#666666;
    --lighter-gray:rgb(232, 232, 232);
    --fa-gray:#f0f0f0;
    --latte:rgb(255, 248, 231);
}
a{
    text-decoration: none;
}
.mainSection{
    width: 100%;
    max-width: 1920px;
    /* height: 1200px; */
    display: grid;
    grid-template-rows: 64px minmax(auto, 1fr) max-content;
    
}
 .header{
    grid-row: 1/2;
}
.container{
    grid-row: 2/3;
    display: inline-grid;
    grid-template-rows: 120px 80px 700px 400px 400px 400px 100px;
    grid-template-columns: 1fr 200px 400px 200px 400px 1fr;

}
.container .searchBar{
    width: 680px;
    height:60px;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 100px;  */
    /*!會讓candle圖消失 display: flex; */
    /*!會讓candle圖消失 margin: auto; */
    grid-row: 2 / 3;
    grid-column: 3 / 5;
}
.container .candleStickChart{
    grid-row: 3 / 4;
    grid-column: 2 / 5;
}
.container .trackingList{
    height: 300px;
    width: 350px;
    margin-left: 28px;
    border-radius: 20px;
    grid-row: 3 / 4;
    grid-column: 5 / 6;
    /* border: 1px solid var(--lighter-gray); */
    background-color:var(--fa-gray);
}
.container .calculator{
    width: 350px;
    height: 350px;
    margin: 300px 0 0 28px;
    color: gray;
    grid-row: 3 / 4;
    grid-column: 5 / 6;
}
.container .myNote{
    width: 1170px;
    grid-row: 4 / 5;
    grid-column: 2 / 5;
    margin-left: 7px;
}
.container .tradePlan{
    width: 1170px;
    height: 370px;
    grid-row: 5 / 6;
    grid-column: 2 / 6;
    margin-left: 7px;
}
.container .infoCard{
    width: 1170px;
    height: 300px;
    grid-row: 6 / 7;
    grid-column: 2 / 6;
    margin-left: 7px;
}
.footer{
    grid-row: 3/4;
}
.goToTop{
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color:var(--lighter-gray);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}
.goToTop:hover{
    background-color:var(--blue);
}
@media screen and (max-width:1200px) and (min-width:768px){
    .container{
        grid-template-rows: 120px 80px 700px 400px 400px 400px 600px 100px;
        grid-template-columns: 1fr 375px 375px 1fr;
    }
    .container .searchBar{
        grid-row: 2 / 3;
        grid-column: 2 / 4;
        margin: auto auto auto 22px;
    }
    .container .candleStickChart{
        grid-row: 3 / 4;
        grid-column: 2 / 4;
    }
    .container .trackingList{
        height: 87.5%;
        grid-row: 4 / 5;
        grid-column: 2 / 3;
        margin-left: -4px;
        margin-top: 15px;
    }
    .container .calculator{
        grid-row: 4 / 5;
        grid-column: 3 / 4;
        margin-top: -5px;
        margin-left: 20px;
    }
    .container .myNote{
        grid-row: 5 / 6;
        grid-column: 2 / 4;
        width: 750px;
        margin-left: -4px;
    }
    .container .tradePlan{
        grid-row: 6 / 7;
        grid-column: 2 / 4;
        width: 750px;
        margin-left: -4px;
    }
    .container .infoCard{
        grid-row: 7 / 8;
        grid-column: 2 / 4;
        width: 750px;
        height: 800px;
        margin-left: -4px;
    }
}
@media screen and (max-width:767px) and (min-width:360px){
    .container{
        display: grid;
        grid-template-rows: 120px 80px 700px 350px 400px 400px 400px 600px 100px;
        grid-template-columns: minmax(50px, 1fr) minmax(360px, 768px) minmax(56px, 1fr);
    }
    .container .searchBar{
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        margin-top: 10px;
        margin-left: 0px;
        width: 100%;
    }
    .container .candleStickChart{
        grid-column: 2 / 3;
    }
    .container .trackingList{
        grid-row: 4 / 5;
        grid-column: 2 / 3;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
    }
    .container .calculator{
        grid-row: 5 / 6;
        grid-column: 2 / 3;
        margin-top: -5px;
        margin-left: auto;
        margin-right: auto;
    }
    .container .myNote{
        grid-row: 6 / 7;
        grid-column: 2 / 3;
        width: 100%;
        margin-left: 0px;
    }
    .container .tradePlan{
        grid-row: 7 / 8;
        grid-column: 2 / 3;
        width: 100%;
        margin-left: 0px;
    }
    .container .infoCard{
        grid-row: 8 / 9;
        grid-column: 2 / 3;
        width: 100%;
        height: 800px;
        margin-left: 0px;
    }
}
@media screen and (max-width:668px) and (min-width:360px){
    .container{
        grid-template-rows: 120px 80px 700px 350px 400px 400px 400px 1200px 100px;
    }
}