@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Kalam:wght@700&family=Nabla&family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Ubuntu:ital,wght@1,700&display=swap');
body{
    margin:0;
    font-family: "NOTO Sans JP", san-serif;
}
:root{
    --blue:#0f73ee;
    --lighter-blue:rgba(146,205,250);
    --lavender:rgba(215,215,255);
    --yellow:#fba707;
    --orange:#eb7d16;
    --white:#FFFFFF;
    --black:#000000;
    --gray:#666666;
    --lighter-gray:rgb(232, 232, 232);
    --latte:rgb(255, 248, 231);
}
a{
    text-decoration: none;
}
.mainSection{
    width: 100%;
    max-width: 1920px;
    /* height: 1200px; */
    display: grid;
    grid-template-rows: 64px 100px 80px 700px 400px 400px 400px 100px;
    grid-template-columns: 1fr 200px 400px 200px 400px 1fr;
}
.searchBar{
    width: 530px;
    height:60px;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 100px;  */
    /*!會讓candle圖消失 display: flex; */
    /*!會讓candle圖消失 margin: auto; */
    grid-row: 3 / 4;
    grid-column: 3 / 5;
}

.candleStickChart{
    grid-row: 4 / 5;
    grid-column: 2 / 5;
}
.trackingList{
    height: 300px;
    width: 350px;
    margin-left: 20px;
    border-radius: 10px;
    grid-row: 4 / 5;
    grid-column: 5 / 6;
    background-color: var(--lighter-blue);
    box-shadow: 6px -4px 2px var(--yellow);
}
.calculator{
    width: 350px;
    height: 300px;
    margin: 330px 0 0 20px;
    color: gray;
    grid-row: 4 / 5;
    grid-column: 5 / 6;
}
.singleNote{
    width: 1170px;
    grid-row: 5 / 6;
    grid-column: 2 / 5;
}
.tradePlan{
    width: 1170px;
    height: 370px;
    grid-row: 6 / 7;
    grid-column: 2 / 6;
}
.infoCard{
    width: 1170px;
    height: 300px;
    grid-row: 7 / 8;
    grid-column: 2 / 6;
}
@media screen and (max-width:1200px) and (min-width:600px){
    .mainSection{
        width: 80%;
    }
}