@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Kalam:wght@700&family=Nabla&family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Ubuntu:ital,wght@1,700&display=swap');
body{
    margin:0;
    font-family: "NOTO Sans JP", san-serif;
}
:root{
    --blue:#0f73ee;
    --lighter-blue:rgb(232,240,254);
    --lavender:rgba(215,215,255);
    --yellow:#fba707;
    --orange:#eb7d16;
    --white:#FFFFFF;
    --black:#000000;
    --gray:#666666;
    --lighter-gray:rgb(232, 232, 232);
    --fa-gray:#f0f0f0;
    --latte:rgb(255, 248, 231);
}
a{
    text-decoration: none;
}
.tradePlan{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.title{
    height: 30px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    color: var(--gray);
    margin: 10px;
    cursor: pointer;
}
.container{
    width: 100%;
    height: 300px;
}
.planBox{
    max-width: 1170px;
    width: 100%;
    height: 90%;
    margin-top: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    color: var(--gray);
    overflow-x: auto;
    overflow-y: auto;
    border: 1px solid var(--fa-gray);
    border-radius: 10px;
}
.planBox::-webkit-scrollbar {
    height: 14px;           
    width: 16px;               
    border: 3px solid #dfdfdf;
    border-radius: 10px;
}
.planBox::-webkit-scrollbar-track {
    border-radius: 10px;
    background: var(--lighter-gray);
}
.planBox::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #c6c6c6;
}
.subTitle{
    width: 1180px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: underline;
    font-weight: bold;
}
.subTitleStockId, .subTitleRRRatio{
    cursor: pointer;
}
.allPlan{
    width: 1180px;
}
.singlePlan{
    box-sizing: border-box;
    height: 40px;
    width: 98%;
    margin-left: 7px;
    margin-right: 20px;
    padding-top: 10px;
    display: grid;
    grid-template-columns: 0.7fr 0.5fr 0.9fr 0.7fr 0.8fr 0.6fr 0.7fr 0.7fr ;
    justify-content: center;
    text-align: center;
}
.singlePlan:hover{
    transform: scale(1.01);
    background-color: var(--lighter-blue);
    border-radius: 5px;
    cursor: pointer;
}
.singlePlan:hover .deleteBtn{
    display: inline-block;
}
.stockId{
    padding-left: 20px;
}
.stockName{
    padding-right: 8px;
}
.purchasePrice{
    padding-left: 10px;
}
.stopLossPoint{
    padding-left: 5px;
}
.lossRatio{
    padding-right: 1px;
}
.stopProfitPoint{
    padding-right: 20px;
}
.deleteBtn{
    background-color: transparent;
    color: #c9c9c9c9;
    position: relative;
    bottom: 24px;
    left: 1050px;
    cursor: pointer;
    display: none;
}
.deleteBtn:hover{
    color: #F2666C;
    font-weight: bold;
}
.redirectMessageBox{
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: var(--gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.redirectMessageBox p{
    margin: 0;
    margin-block-start: 1em;
}
.loadingText{
    width: 500px;
    color: var(--Gray);
    font-size: 16px;
    letter-spacing: 3px;
    margin: auto;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 1s steps(8) infinite;
}
@keyframes typing{
    from { width: 0px}
    to { width: 145px};
}
@media screen and (max-width:1200px) and (min-width:768px){
    .subTitle{
        font-size: 12px;
    }
}