@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Kalam:wght@700&family=Nabla&family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Ubuntu:ital,wght@1,700&display=swap');
body{
    width: 100vw;
    height: 100vh;
    margin:0;
    /* overflow: hidden; */
    font-family: "NOTO Sans JP", san-serif;
    background-color: var(--White);
}
:root{
    --blue:#0f73ee;
    --lighter-blue:rgb(232,240,254);
    --lavender:rgba(215,215,255);
    --yellow:#fba707;
    --orange:#eb7d16;
    --white:#FFFFFF;
    --black:#000000;
    --gray:#666666;
    --lighter-gray:rgb(232, 232, 232);
    --fa-gray:#f0f0f0;
    --latte:rgb(255, 248, 231);
}
a{
    text-decoration: none;
}
.navContainer{
    width: 100%;
    position: relative;
    display: flex;
    z-index: 1000;
    justify-content: end;
}
.navItem{
    margin: 20px 80px 0 0;
    font-size: 14px;
    color: var(--gray);
    cursor: pointer;
}
.navItem:hover{
    font-weight: bold;
    color: var(--blue);
}
.textContainer{
    width: 100%;
    max-width: 1920px;
    position: relative;
    z-index: 1000;
}
.card{
    width: 60%;
    height: 300px;
    text-align: left;
    position: relative;
    top: 200px;
    left: 250px;
    /* background-color:#eb7d16; */
}
.title{
    box-sizing: border-box;
    width: 150px;
    height: auto;
    font-family: "Carter One";
    font-size: 60px;
    color: var(--blue);
    margin: 0;
    margin-block-start:0;
    margin-block-end:0;
    padding-top: 20px;
}
.text{
    width: 450px;
    font-family:  "NOTO Sans JP", san-serif;
    font-size: 16px;
}
.btnContainer{
    display: flex;
    margin: 40px 5px;
}
.loginBtn{
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 15px;
    background-color:var(--yellow);
    color: var(--white);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px 2px var(--orange);
}
.loginBtn:hover{
    transform: scale(1.03);
}  
.signUp{
    font-size: 14px;
    color: var(--gray);
    margin-top: 5px;
    margin-left: 30px;
    cursor: pointer;
}
.signUp:hover{
    font-weight: bold;
    color: var(--blue);
}
.svgContainer {
    width: 1920px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
  
@media screen and (max-width: 1920px) {
    .card{
        top: 130px;
        left: 80px;
        width: 80%;
    }
    .textContainer{
        max-width: 100%;
    }
    .svgContainer {
        max-width: 100%;
    }
}
@media screen and (max-width: 1200px) {
    .navItem{
        margin: 20px 40px 0 0;
    }
    .card{
        top: 130px;
        left: 80px;
        width: 80%;
    }
}
@media screen and (max-width: 900px) {
    .navItem{
        margin: 20px 30px 0 0;
    }
    .card{
        top: 130px;
        left: 80px;
        width: 80%;
    }
}
@media screen and (max-width: 767px) {
    .navItem{
        margin: 20px 30px 0 0;
    }
    .card{
        top: 130px;
        left: 60px;
        width: 80%;
    }
    .title{
        margin-right: 50px;
    }
    .text{
        width: 100%;
        margin: auto;
    }
}
@media screen and (max-width: 600px) {
    .navItem{
        margin: 20px 30px 0 0;
    }
    .card{
        left: 55px;
        width: 80%;
    }
    .title{
        font-size: 40px;
    }
    .text{
        font-size: 16px;
    }
}
@media screen and (max-width: 560px) {
    .navItem{
        margin: 20px 30px 0 0;
    }
    .card{
        left: 50px;
        width: 80%;
    }
}
@media screen and (max-width: 500px) {
    .navItem{
        margin: 20px 30px 0 0;
    }
    .card{
        left: 42px;
        width: 80%;
    }
    .text{
        font-size: 14px;
    }
}
@media screen and (max-width: 400px) {
    .card{
        left: 40px;
        width: 80%;
    }
}